<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Section</title>
    <style>
        .navbar{
            display: flex;
            max-width: 140rem;
            padding: 4.2rem 2.4rem;
            flex-direction: row;
            justify-content:flex-end;
            background-color: darkturquoise;

           
        }
        .navbar-link{
            gap: 3.2rem;
            list-style: none;
            display: flex;
            
        }
    </style>
</head>
<body>
    <nav class = "navbar">
        <ul class="navbar-link">
            <li><a href="#section1">Home</a></li>
            <li><a href="#section1">About</a></li>
            <li><a href="#section1">Contact</a></li>
            <li><a href="#section1">Services</a></li>

        </ul>

    </nav>
    
</body>
</html>